#landingPageContainer {
    background-image: url(../../media/landingPageImg/landingpage.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    height: 100vh;
}

#landingPageTopContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2vw;
    margin-bottom: 40px;
}

#landingPageIcon {
    display: flex;
    align-items: center;

}

#landingPageIcon img {
    height: 40px;
    width: 45px;
}

#landingPageLogIn {
    display: flex;
    align-items: center;
    font-size: 22px;
    font-family: 'Montserrat';
    cursor: pointer;
}

#landingPageTitle {
    display: flex;
}

#landingPageTitle h3 {
    margin: 0;
    margin-right: 10px;
    font-size: 40px;
    font-family: 'Poppins';

}

#landingPageBottomContainer {
    margin: 2vw;
    display: flex;
}

#landingPageRight {
    flex-grow: 1;
}

#landingPageLeft {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#htre h3 {
    text-align: center;
    font-size: 50px;
    margin-bottom: 0px;
    font-family: 'Rampart_One';

}

#slogan {
    text-align: center;
    flex-direction: column;
    display: flex;
    align-items: center;
}

#slogan p {
    font-family: 'Montserrat';
    font-size: 20px;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 30px;
}

#slogan h1 {
    font-size: 65px;
    font-family: 'Rampart_One';
    margin-top: 0px;
    margin-bottom: 10px;

}

#landingPageLeft button {
    width: 180px;
    font-family: 'Montserrat';
    padding: 15px;
    background-color: #758650;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
}