#landingPageContainer {
    background-image: url(../../media/landingPageImg/landingpage.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    height: 98vh;
}

#landingPageTopContainer {
    display: flex;
    justify-content: space-between;
}

#landingPageTitle {
    display: flex;

}

#landingPageTitle h3 {
    margin-top: 0;
    margin-right: 1vw;
    font-size: 3vw;
    font-family:
}