#navigationContainerRecipePage {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin: 0 40px 0px 40px;
    position: fixed;
    width: 93.5vw;
    background-color: rgb(203, 209, 163);
}

#navigationContainerRecipePage #navigationMiddle {
    display: flex;
    align-items: center;
    height: 14vh;
    margin-bottom: 0;
}

#navigationContainerRecipePage #navigationIcon {
    height: 50px;
    width: 55px;
    margin-bottom: 0px;
}

#navigationContainerRecipePage #navigationLeft {
    padding-top: 33px;
}

#navigationContainerRecipePage #navigationRight {
    padding-top: 33px;
}

#navigationContainerRecipePage #navigationMiddle {
    padding-top: 21px;
    padding-left: 47px;
}

#recipeContainer {
    display: flex;
    height: 100vh;

}

#navigationContainer {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin: 40px 40px 0px 40px;
}

#leftContainer {
    width: 50%;
    height: 115vh;
}

#recipeImg {
    position: fixed;
    top: 14vh;
    height: 86vh;
    width: 50%;
    z-index: -1;
}

#rightContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0px 55px;
    font-family: 'Montserrat';
    margin-top: 85px;
}

#rightContainer h2 {
    font-family: 'Montserrat-Black';
    font-size: 35px;
    text-align: center;
    margin-bottom: 0;

}

#rightContainer h3 {
    text-align: center;
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 20px;
}

#rightContainer h4 {
    margin-left: 25px;
    margin-bottom: -10px;
}


#rightContainer img {
    object-fit: cover;
    width: 100%;
    height: 100%;

}

#timer {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#timer img {
    height: 45px;
    width: 45px;
}

.rating {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: -5px;
}

.star {
    color: black;
    cursor: pointer;
    font-size: 8vh;
    text-align: center;
}

.starsInPopUp.filled {
    color: #758650;
}

#addRating {
    cursor: pointer;
}

#addRating:hover {
    font-size: 16px;
}

.popUpRating {
    display: none;
    position: fixed;
    top: 20vw;
    left: 60vw;
    padding: 15px;
    width: 350px;
    background-color: rgba(248, 249, 248, 0.949);
    border: 1px solid #000000;
    z-index: 1000;
}

.exitForRatingButton button {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    font-size: 20px;
    background-color: rgba(248, 249, 248, 0);
    cursor: pointer;
}

#addRatingButton {
    width: 150px;
    font-family: 'Montserrat';
    padding: 10px;
    background-color: #758650;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
    margin: 10px;

}

.popUpContent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.popUpContent p {
    text-align: center;
    margin-bottom: -10px;
}

.popUpContent b {
    font-weight: bolder;
}

.starsInPopUp {
    color: black;
    cursor: pointer;
    font-size: 6.5vh;
    text-align: center;
}

#toDos li {
    margin-bottom: 10px;
}

#ingredients li {
    margin-bottom: 10px;
}

.heart {
    font-size: 5vw;
    cursor: pointer;
    color: black;
    transition: color 0.5s;
    position: absolute;
    top: 8.5vw;
    left: 43vw;

}

.heart.filled {
    color: red;
}