@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins/Poppins-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Moulpali';
    src: url('fonts/Moulpali/Moulpali-Regular.ttf');
}

@font-face {
    font-family: 'Rampart_One';
    src: url('fonts/Rampart_One/RampartOne-Regular.ttf');
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat/static/Montserrat-Black.ttf');
}

* {
    box-sizing: border-box;
}

body {
    background-color: rgb(203, 209, 163);
    margin: 0;
}
