@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins/Poppins-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}


* {
    box-sizing: border-box;
}

body {
    background-color: rgb(203, 209, 163);
    margin: 0;
}