#divSearchIngredient {
    position: absolute;
    top: 88px;
    left: 350px;
    overflow: hidden;
}

#inputSearchIngredient {
    width: 250px;
    height: 40px;
    font-family: Moulpali;
    border: 1px solid black;
}